<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous">
	</script>
	<title>Form Event App</title>
</head>
<body>
	<div class="container formPos formStyle">
		<div class="row">
			<div class="col-md-12">
			<form action="/" method="POST" name="eventForm" novalidate>
			<div class="form-group">
				<label for="">First Name</label>
				<input type="text" class="form-control" id="name"  name="guest[firstName]" placeholder="First Name" required pattern="[A-Za-z]+">
				<div id="nameMessage"></div>
			</div>
			<div class="form-group">
				<label for="">Last Name</label>
				<input type="text" class="form-control" id="lastName"  name="guest[lastName]" placeholder="Last Name" required pattern="[A-Za-z]+">
				<div id="lastNameMessage"></div>
			</div>
			<div class="form-group">
				<label for="">Email</label>
				<input type="email" class="form-control" id="email"  name="guest[email]" placeholder="Your Email" required>
				<div id="emailMessage"></div>
			</div>
			<div class="form-group">
				<label for="">Event Date</label>
				<input type="date" class="form-control" id="date"  name="guest[date]" required>
				<div id="dateMessage"></div>
			</div>
			<div class="submitPos">
				<button type="submit" class="btn btn-success submitbtn" id="submit">Submit</button>
			</div>
		</form>
		</div>
		</div>
	</div>
<script src="js/formValidation.js"></script>
</body>
</html>